* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.sect-about-container {
    width: 100vw;
    max-width: 100%;
    height: 900px;
    overflow: hidden;
}

.about-title-content {
    width: 100vw;
    height: 337px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-title-content .title-name {
    width: 100vw;
    height: 100%;
    max-width: 100%;
    background: linear-gradient(to right, rgba(22,22,30,0.8), rgba(22,22,30,0.5));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-title-content .title-name h2 {
    color: rgba(255,255,255);
    font-size:  45px;
    font-family: 'Neucha', cursiva;
    opacity: 0;
    animation:  animation-title-about .7s .4s ease-in-out forwards;
}

.about-title-content .about-title-img {
    width: 100%;
    height: 100%;
}

.about-title-content .about-title-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content-main {
    height: 563px;
    width: 100vw;
    background: rgba(22,22,30);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-content-main .about-ico-social {
    left: 5%;
    top: 20%;
    width: 5%;
    height: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-content-main .about-ico-social i {
    color: #fff;
    font-size: 20px;
    transition: .4s all;
}

.about-content-main .about-ico-social i:hover {
    color: rgba(255, 0, 0, 0.7); 
}

.about-content-main .about-img-personal {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 28%;
    height: 70%;
    overflow: hidden;
}

.about-content-main .about-img-personal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%; 
    filter: grayscale(1);
}

.about-content-main .about-paragraph-content {
    position: absolute;
    left: 40%;
    top: 15%;
    width: 55%;
    height: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.about-content-main .about-paragraph-content p {
    width: 100%;

    color: #fff;
    text-align: justify;
    font-size: 20px;
    line-height: 200%;
    overflow: hidden;
    font-family: 'Neucha', cursiva;
}

.about-content-main .about-paragraph-content p span {
    color: rgba(255, 0, 0, 0.8);
    font-size: 45px;
    font-family: 'Neucha', cursiva;
    font-weight: bold;
}

@keyframes animation-title-about {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}



@media (max-width: 999px) {

    .sect-about-container {
        height: 1000px;
    }

    .sect-about-container .about-content-main {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sect-about-container .about-paragraph-content, .sect-about-container .about-img-personal {
        width: 90vw;
        height: 65%;
        position: static;
        margin-left: 5vw;
        margin-right: 5vw;
        
    }

    .sect-about-container .about-img-personal {
        height: 30%;

    } 

    .sect-about-container .about-img-personal img {
        border-radius: 0;
    }
    
    .sect-about-container .about-ico-social {
        display: none;
    }
}

@media (max-width: 635px) {
    .sect-about-container {
        height: 1100px;
      
    }
    
}

@media (max-width: 490px) {
    .sect-about-container {
        height: 1200px;
    }
}

@media (max-width: 430px) {
    .sect-about-container {
        height: 1270px;
    }
}

@media (max-width: 350px) {
    .sect-about-container {
        height: 1470px;
    }
} 

