
/*
OBSERVAÇÃO

É NECESSÁRIO COLOCAR O LINK NO HEAD PARA UTILIZAR OS ÍCONES

<script src="https://kit.fontawesome.com/8df84bb37e.js" crossorigin="anonymous"></script>

VERIFICAR ÍCONES NO fontawesome.com
*/

@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color-ico: rgb(22, 22,30);
    --color-ico: rgba(255,255,255,1);
    --border-color-ico:rgba(255,255,255,0.2); 
    --background-color-hover: rgba(255,255,255,1);
    --border-color-ico-hover: rgba(255,0,0,0.5);
    --color-ico-hover: rgba(255,255,255,1);
    --color-ico-visited:rgba(255,255,255,1);
}

.social-ico {
    position: absolute;
}

.social-ico a{
    display: inline-flex;
    text-decoration: none;
    background: var(--background-color-ico);
    height: 35px;
    width: 35px;
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color-ico);
}

.social-ico a i{
    transition: 0.5s all;
    color: var(--color-ico);
}

.social-ico a:hover{
    background: var(--background-color-hover);
    color: var(--color-ico-hover);
    text-decoration: none;
}

.social-ico a:visited{
    color: var(--color-ico-visited);
}

.social-ico a:hover>i{
    transform: scale(1.3);
}

.social-ico a:hover > i.fa-facebook-f{
    color: #4267b2;
    transition: 0.5s;
}

.social-ico a:hover > i.fa-instagram{
    color: #e1306c;
    transition: 0.5s;
}

.social-ico a:hover > i.fa-tiktok{
    color: #000;
    transition: 0.5s;
}

.social-ico a:hover > i.fa-youtube{
    color: #ff0000;
    transition: 0.5s;
}

.social-ico a:hover > i.fa-whatsapp{
    color: rgba(52,175,35,1);
    transition: 0.5s;
}


